<div class="container">
    <h3>Update Departement</h3>
    <form [formGroup]="categorieForm" (ngSubmit)="UpdateItem()">
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="nomDepart" placeholder="nom">
                    <mat-error *ngIf="categorieForm.get('nomDepart')?.hasError('required')">This input is required!</mat-error>
                </mat-form-field>
            </div>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">Update </button>
    </form>
</div>
