<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Gérer les devis</h2>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a (click)="openAddItem()" class="btn btn-success" data-toggle="modal">
                            <i class="material-icons">&#xE147;</i>
                            <span>Ajouter un devi</span>
                        </a>
                        <a (click)="downloadPdf()" class="btn btn-success" data-toggle="modal">
                            <i class="material-icons">&#xE147;</i>
                            <span>Télécharger PDF</span>
                        </a>
                    </div>
                </div>
            </div>
  
            <div class="search-container">
                <input type="text" placeholder="Rechercher..." [(ngModel)]="searchTerm" (input)="applyFilter()" />
            </div>
  
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dev of filteredDevis">
                        <td>{{ dev.description }}</td>
                        <td>{{ dev.quantity }}</td>
                        <td>{{ dev.price }}</td>
                        <td>
                            <a class="delete" data-toggle="modal" title="Delete" (click)="deleteItem(dev.id)">
                                <i class="material-icons" data-toggle="tooltip">&#xE872;</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
  
            <mat-paginator [length]="Devis.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" (page)="pageChanged($event)"></mat-paginator>
        </div>
    </div>
  </body>
  